1) Write the rules for creating variables.
*  A Python variable name must start with a letter or the underscore character.
*  A Python variable name cannot start with a number.
*  A Python variable name can only contain alpha-numeric characters and underscores.
*  Variable in Python names are case-sensitive.
*  The reserved keywords in Python cannot be used to name the variable in Python.

2) What is type function?
*  The type() function returns the type of the specified object.

3) Difference between = and ==.
*  = assigns a value to a variable.
*  == checks whether two variables or values are the same.

4) Difference between mutable and unmutable.
*  An immutable object canâ€™t be changed after it is created.
*  Mutable object can be changed.

5) Write a python code to print first 10 natural numbers using loops.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
n = 1
while n <= 10:
   print(n)
   n+=1

1
2
3
4
5
6
7
8
9
10

6) Write a python program to find sum of first natural numbers.

In [7]:
n = 0

for i in range (1, 11):
  n+=i
  print (n)

1
3
6
10
15
21
28
36
45
55

7) Write a python program to identify given number is a prime or not.

In [12]:
number = int(input("Enter any number: "))
if number > 1:

  for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
        else:
            print(number, "is a prime number")

Enter any number: 3
3 is a prime number

8) Write a python program to identify the factorial of given number.

In [25]:
num = int(input("enter a number: "))

fac = 1

for i in range(1, num + 1):
	fac = fac * i
print(f'factorial is {fac}')

enter a number: 5
factorial is 120

9) Write a python program to print multiplication table of a given number.

In [27]:
num = int(input("Enter the number"))
k = 1

for i in range(10):
  mul = num*k
  print(mul)
  k = k+1

Enter the number 6
6
12
18
24
30
36
42
48
54
60

10) Write a python program to count total number of digits in a list.

In [29]:
num = 3452
count = 0

while num > 0:
    num //= 10
    count += 1
print("Number of digits: " + str(count))

Number of digits: 4

11) Write a pytho program to print list in a reverse using loop.

In [30]:
numbers = [71, 36, 51, 75, 82, 78, 40]
reverse_num = []

for num in numbers:
 reverse_num = [num] + reverse_num
print('Reversed List:', reverse_num)

Reversed List: [40, 78, 82, 75, 51, 36, 71]

13) Write a python code to display from -10 to -1 using loop.

In [32]:
for num in range(-10, 0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1