In [11]:
veg=['paneer', 'methi chaman', 'cashew curry', 'gobi fry']
non_veg=['fish curry', 'chicken curry', 'mutton curry', 'prawns']
print("Welcome to vamsi restaurant")
print("Here is our veg and non veg menu")
print(f'veg menu:(veg)')
print(f'non veg menu:(non_veg)')

def restaurant(veg, non_veg):
  while True:
     user=input("please tell your order")
     if user in veg:
        print(f' we have {user} in veg, it will be ready please wait for it')
        break
     elif user in non_veg:
        print(f' we have {user} in non veg, it will be ready please wait for it')
        break
     else:
        print(f'{user} we are not serving the current item')

restaurant(veg,non_veg)

Welcome to vamsi restaurant
Here is our veg and non veg menu
veg menu:(veg)
non veg menu:(non_veg)
please tell your orderpaneer
 we have paneer in veg, it will be ready please wait for it

1) Write a python code to check if a number is prime or not using function.

In [ ]:
def prime_number(n):
  if n < 2:  # 0 and 1 are not primes
      return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
    return True


num = 20
if prime_number(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

20 is not a prime number

2) Print the following number pattern.

    1 1 1 1 1
    2 2 2 2
    3 3 3
    4 4
    5

In [ ]:
rows = 5
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

3) Write a python code to convert celsius to fahrenheit.

In [12]:
# Python Program to convert temperature in celsius to fahrenheit

celsius = 27.5

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print(fahrenheit)

81.5

4) Write a functio to calculate simple interest.

In [ ]:
def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is',r)

    si = (p * t * r)/100

    print('The Simple Interest is', si)
    return si

simple_interest(8, 5, 4)

The principal is 8
The time period is 5
The rate of interest is 4
The Simple Interest is 1.6

1.6

5) Write a python code to convert integer into decimal by using function.

In [ ]:
integer_value = 14
decimal_value = float(integer_value)
print(decimal_value)

14.0

6) Write a python code to check given character is digit or not.

In [ ]:
character = input("Enter a character: ")

#Checking if the character is a digit
if character.isdigit():
  print(f" The given character {character} is a digit")
else:
  print(f" The given character {character} is a digit")

Enter a character: 22
 The given character 22 is a digit

7) Write a python program to check given number is armstrong or not.

In [ ]:
n = int(input("Enter a number: "))

#initialize the sum
s = 0

temp = n
while temp > 0:
    digit = temp % 10
    s += digit ** 3
    temp //= 10

if n == s:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")

Enter a number: 456
456 is not an Armstrong number

8) Write a python program to check non-repeating first character.

In [ ]:
s = input("Enter a Character: ")
t = []
for i in s:
  if s.count(i)<2:
    t.append(i)
    print(t)

Enter a Character: Python
['P']
['P', 'y']
['P', 'y', 't']
['P', 'y', 't', 'h']
['P', 'y', 't', 'h', 'o']
['P', 'y', 't', 'h', 'o', 'n']

9) Write a python code to remove duplicate from the list.

In [ ]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate = [2, 4, 10, 20, 5, 2, 20, 4, 10, 3]
print(Remove(duplicate))

[2, 4, 10, 20, 5, 3]

10) Write a python code to replace the string space with a given character.

In [ ]:
s = "Hello World"
s = s.replace(' ', '-')
print(s)

Hello-World

11) Write a python code to swap two numbers without using third variable.

In [ ]:
x = 5
y = 7

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# code to swap 'x' and 'y'
x, y = y, x

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5

12) Write a python code to add two integers without using any arithmetic operators.

In [ ]:
a=int(input("Enter the number for a: "))
b=int(input("Enter the number for b: "))
def add(a,b):

  while(b != 0):
     c=a&b #and operator
     a=a^b #Xor operator
     b=c<<1
  return a

print("Sum of two numbers",add(a,b))

Enter the number for a: 5
Enter the number for b: 9
Sum of two numbers 14

13) Write a python code to find greatest common divisor.

In [16]:
a = 18
b = 12

divisor = min(a, b)

while divisor > 0:
    if a%divisor == 0 and b%divisor == 0:
        print('The GCD is', divisor)
        break
    divisor -= 1

The GCD is 6